.contenedor{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    margin: 20px;
    background-color: azure;

}


.elemento{

        width: 80px;
        height: 80px;
        border: 2px solid #3498db;
        padding: 10px;
        text-align: center;
        background-color: #fff;



}